go 1.23.12

use (
	./hashback
	./pkg/accountdb
	./pkg/core
	./pkg/lockablefile
	./pkg/storagedb
	./server
	./util
)

replace github.com/fredli74/hashbox/pkg/core v0.0.0-00010101000000-000000000000 => ./pkg/core
replace github.com/fredli74/hashbox/pkg/lockablefile v0.0.0-00010101000000-000000000000 => ./pkg/lockablefile
replace github.com/fredli74/hashbox/pkg/accountdb v0.0.0-00010101000000-000000000000 => ./pkg/accountdb
replace github.com/fredli74/hashbox/pkg/storagedb v0.0.0-00010101000000-000000000000 => ./pkg/storagedb
